/*
* Sarah Woolley
*DUe Date
* Project name and Description
*/  

/* The Universal Sector*/

*{ 

}

/* Body attributes here*/

body{ 

}
#eagles { width: 200px; height: 100px}

#pawprint { width: 200px; height: 100px}

#dance  { width: 200px; height: 100px}